    <tr class="table-content">
    <td>Name: <%= link_to book.name, book %></td>
    <td>Author: <%= book.author %></td>
    <td>Description: <%= book.description %></td>
    <td>Price: <%= book.price %></td>

    <td>
    <% if cart.include?(book) %>
        <%= button_to cart_path(book), method: :delete do%>
            Remove from cart
        <% end %>
    <% else %>

        <%= form_with url: cart_index_path(book) do %>
            <%= hidden_field_tag(:id, book.id) %>
            <%= button_tag "Add to cart" %>
        <% end %>
    <% end %>
    </td>


    </tr>
