<h1>Books</h1>
<%= search_form_for @q do |f| %>

  <%= f.label :name_or_description_cont %>
  <%= f.search_field :name_or_description_cont %>

  <%= f.label "Catagory: " %>
  <%= f.collection_select :catagory_id_eq, Catagory.all, :id, :name, include_blank: true %>



  <%= f.submit %>

<% end %>

<div class="container mt-4">
  <div class="row">

  <%= render partial: "book", collection: @books, as: :book %>
  </div>
</div>

<%= paginate @books %>
