<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Crooks" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>

  <%= render "layouts/navbar" %>
  <nav>
        <ul>
        <% if customer_signed_in? %>
          <%= link_to "Sign out", destroy_customer_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to log out?'} %>
        <% else %>
          <%= link_to "Sign in", new_customer_session_path %>
        <% end %>
          <li>         
            Cart 
            <% if cart.present? %> 
              <sup><%= total_quantity %></sup>
              <ul> 
                <% cart.each do |product| %> 
                  <li>
                    <tr>
                      <td><%= product[:product].name %> x <%= product[:quantity] %> 
                        <%= button_to cart_path(product[:product]), method: :delete do%>Remove from cart
                        <% end %>
                      </td>
                      <td>
                      <%= form_with url: cart_path(product[:product]), method: :patch do |form| %>
                        <%= form.number_field :quantity, in: 1..20, step: 1, value: product[:quantity] %>
                        <%= form.submit "Update Quantity" %>
                      <% end %>
                      </td>
                    
                  </li>
                <% end %>
              </ul>
              <%= form_with url: checkout_create_path, method: :post, data: { turbo: false } do %>
                <%= button_tag "Buy Now" %>
              <% end %>
            <% end %>
          </li>
        </ul>
      </nav>

  <body>
    <%= yield %>
  </body>
</html>
